
/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole per svolgimento esercizio */

.row{
  background-color: pink;
  min-height: 100px;
}

[class*="col-"] {
  border: 1px solid black;
  height: 100px;
}

/* regole per footer */

.row .col-6 div{
  background-color: salmon;
  border: 1px solid white;
  height: 95px;
}

.row .final{
  padding: 3px 3px;
}

p{
  line-height: 100px;
  text-align: center;
  font-size: 10px;
}
