
/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole per svolgimento esercizio */

.row{
  background-color: pink;
  min-height: 100px;
}

[class*="col-"] {
  border: 1px solid black;
  height: 100px;
}

/* regole per footer */

footer{
  border: 1px solid black;
}

#foot-left,
#foot-right{
  float: left;
  width: 50%;
  background-color: magenta;
  border: 1px solid black;
}

#foot-left > .col-8,
#foot-left > .col-2 {
  border: 1px solid white;
}

#foot-right > .col-6 {
  border: 1px solid white;
}
